<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="table.css">
</head>

<body>
    <div class="js-table-wrap">
    </div>
    <script src="table.js"></script>
    <script>
        var wrap = document.querySelector('.js-table-wrap')
        let config = {
            name: ['姓名', '语文', '数学', '英语', '政治'],
            data: [
                ['ninja', 32, 22, 564, 76],
                ['jame', 31, 34, 54, 766],
                ['richard', 11, 11, 54, 76],
                ['alex', 355, 67, 54, 76]
            ]
        }
        const sequenceTable = new SequenceTable(config, wrap)
    </script>
</body>

</html>
