table {
    border-collapse: collapse;
}

td {
    border: #aaa 1px solid;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 1.5rem;
}

table thead td {
    background: #555;
    color: #fff;
    position: relative;
}

table thead td .up {
    position: absolute;
    height: 50%;
    width: 10%;
    left: 20%;
    top: 25%;
    background: url(prev.png) no-repeat center center;
    cursor: pointer;
}

table thead td .down {
    position: absolute;
    height: 50%;
    width: 10%;
    right: 20%;
    top: 25%;
    background: url(next.png) no-repeat center center;
    cursor: pointer;
}
