<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tab组件演示</title>
    <link href="https://cdn.bootcss.com/normalize/6.0.0/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <style>

    </style>
</head>

<body>
    <div class="js-tab tab" data-config='{
		"triggerType": "click",
		"effect": "",
		"invoke": 2,
		"auto": 5000
		}'>
        <ul class="tab-nav">
            <li class="actived"><a href="JavaScript:">新闻</a></li>
            <li><a href="JavaScript:">娱乐</a></li>
            <li><a href="JavaScript:">体育</a></li>
            <li><a href="JavaScript:">竞技</a></li>
        </ul>
        <div class="content-wrap">
            <div class="content-item current">
                <img src="1.jpg" alt="" width="290" height="424">
            </div>
            <div class="content-item">
                <img src="2.jpg" alt="" width="290" height="424">
            </div>
            <div class="content-item">
                <img src="3.jpg" alt="" width="290" height="424">
            </div>
            <div class="content-item">
                <img src="4.jpg" alt="" width="290" height="424">
            </div>
        </div>
    </div>
    <script src="tab.js"></script>
    <script>
    window.onload =function() {
        var tab = new Tab(document.querySelector(".js-tab"));
    };
    </script>
</body>

</html>
